<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Criar Usuarios</h1>
    <form action="{{url_for('hello.novoUsuario')}}" method="POST">
        <input type="text" name="nome_usuario" required>
        <button type="submit">Novo Usuário</button>
    </form>
    
    <h1>Usuários</h1>
    <ul>
        {% for usuario in usuarios %}
            <li>{{ usuario.username }}</li>
        {% endfor %}    
    </ul>
</body>
</html>